@media only screen and (max-width: 1600px) {

 .latestBlog {
 	height: 60em;
}

}

@media only screen and (max-width: 1300px) {

.quote {
	height: 17em;
}

.latestBlog {
	height: 55em;
}

input[name ="field1"] {
	width: 33.9%;
}

input[name ="field2"] {
	width: 33.9%;
}

.footer {
	height: 28em;
	p {
		font-size: 1.2em;
	}
}

}

@media only screen and (max-width: 1280px) {

nav ul li {
	padding-right: 10px;
}

}

@media only screen and (max-width: 1223px) {

.contact__contacts li {
	font-size: 1.6em;
}

}

@media only screen and (max-width: 1199px) {

.latestBlog__blog {
	h3 {
		font-size: 1.4em;
	}
	p {
		font-size: 1em;
	}
} 

}

@media only screen and (max-width: 1100px) {

.latestBlog {
	height: 50em;
}

}

@media only screen and (max-width: 1024px) {

.quote {
	height: 15em;
}

.latestBlog {
	height: 51em;
	h3 {
		font-size: 1.2em;
		padding-top: 3%;
	}
}

.contact__contacts li {
	font-size: 1.4em;
}

.footer p {
	font-size: 1.1em;
}

.footer__twits p::before {
	width: 50%;
	height: 20px;
	left: -4.5em;
}

}

@media only screen and (max-width: 991px) {

.contact h2 {
		font-size: 3.2em;
}

}

@media only screen and (max-width: 900px) {
.header__h1 h1 {
	font-size: 2em;
 }
	
.header__h2 h2 {
	font-size: 3.5em;
 }
	
.header__h3 h3 {
	font-size: 2em;
 }
	
.quote {
	height: 13em;
}

.contact__contacts li {
	font-size: 1.2em;
}

.footer {
	height: 21em;
	h3 {
		font-size: 2em;
	}
	p {
		font-size: .9em;
	}
}

}

@media only screen and (max-width: 866px) {


.latestBlog__blog {
	h3 {
		font-size: 1em;
	}
	p {
		font-size: .8em;
	}
} 
	
input[name ="field1"] {
	width: 33.2%;
	margin-right: .5em;
}

input[name ="field2"] {
	width: 33.2%;
}

}

@media only screen and (max-width: 862px) {

.statistics {
	font-size: 0.9vw;
	height: 13em;
}

.latestBlog {
	height: 46em;
}

}

@media only screen and (max-width: 800px) {
.header__h1 h1 {
	font-size: 2em;
 }
	
.header__h2 h2 {
	font-size: 3em;
 }
	
.header__h3 h3 {
	font-size: 2em;
}

.contact__contacts li {
	font-size: 1.1em;
	margin-left: 2%;
}

}

@media only screen and (max-width: 768px) {

.quote {
	height: 13em;
}

.quote p:nth-child(1) {
	font-size: 2.6vw;
}

.quote p:nth-child(2) {
	font-size: 1.6vw;
}

.contact__contacts li {
	font-size: 1em;
}

.footer__twits p::before {
	width: 30px;
	height: 15px;
	margin-top: -15px;
	left: 5.3em;
}

.footer__socials {
	margin-left: -7%;
}

}

@media only screen and (max-width: 767px) {

.header__logo img {
	margin-top: 1.5em;
}

nav {
	margin-left: -200px;
}


.statistics {
	height: 23em;
	font-size: 1em;
}

.statistics > .col-lg-12 {margin-left: 0;}

.bestproj__img-name1,
.bestproj__img-name2,
.bestproj__img-name3,
.bestproj__img-name4,
.bestproj__img-name5,
.bestproj__img-name6,
.bestproj__img-name7,
.bestproj__img-name8,
.bestproj__img-name9 {
	top: 40%;
}

.bestproj__img-name1 h3,
.bestproj__img-name2 h3,
.bestproj__img-name3 h3,
.bestproj__img-name4 h3,
.bestproj__img-name5 h3,
.bestproj__img-name6 h3,
.bestproj__img-name7 h3,
.bestproj__img-name8 h3,
.bestproj__img-name9 h3 {
	font-size: 6vw;
}

.bestproj__img-name1 p,
.bestproj__img-name2 p,
.bestproj__img-name3 p,
.bestproj__img-name4 p,
.bestproj__img-name5 p,
.bestproj__img-name6 p,
.bestproj__img-name7 p,
.bestproj__img-name8 p,
.bestproj__img-name9 p {
	font-size: 4vw;
}

.latestBlog {
	height: 181em;
 }


.latestBlog__blog {
h3 {
	font-size: 2em;
}
p {
	font-size: 1.5em;
}
} 

.contact {
	height: 66em;
}

.contact__contacts li {
	font-size: 2.7vw;
	margin-left: .1em;
}

form {
	padding-top: 1em;
	left: -1em;
}

input[name ="field1"] {
	width: 48.5%;
	margin-right: .5em;
}

input[name ="field2"] {
	width: 48.5%;
}

input[name ="field3"] {
	width: 100%;
}

textarea {
	width: 100%;
}

.footer {
	height: 81em;
	h3 {
		font-size: 5vw;
	}
	p {
		font-size: 3vw;
	}
}

.footer__twits p {
	font-size: 3vw;
}

.footer__twits p::before {
	height: 68px;
}

.footer__socials ul li{
	width: 14%;
}

.footer_copyright {
	margin-top: -3em;
	
}

}

@media only screen and (max-width: 705px) {

nav ul li {padding-right: 3px;}

input[name ="field1"] {
	width: 45.5%;
	margin-right: .5em;
}

input[name ="field2"] {
	width: 45.5%;
}
	
input[name ="field3"] {
	width: 94%;
}
	
textarea {
	width: 94%;
}
}


@media only screen and (max-width: 698px) {

.header__h1 h1 {
	font-size: 1.7em;
 }

.header__h2 h2 {
	font-size: 2.5em;
}
	
}

@media only screen and (max-width: 650px) {
.header__logo img {
	margin-top: 1.8em;
	margin-left: -6em;
}

nav ul li {
	font-size: 2vw;
}

.latestBlog {
	height: 163em;
}
}

@media only screen and (max-width: 600px) {

.header__h1 h1 {
	font-size: 1.5em;
}
	
.header__h2 h2 {
	font-size: 2.2em;
 }

 .header__h3 h3 {
	font-size: 1.6em;
 }

.statistics {
	font-size: 2.5vw;
	height: 24em;
}

.bestProjects h2 {
	padding-top: 0;
	
}

.latestBlog {
	height: 155em;
}

.quote {
	height: 10em;
}

.contact {
	height: 60em;
}

.contact__contacts li {
	font-size: 3vw;
}

form {
	margin-top: -5%;
	
}

.footer {
	height: 72.5em;
	h3 {
		font-size: 6vw;
	}
	p {
		font-size: 3.3vw;
	}
}

.footer__twits p {
	font-size: 3.3vw;
}

.footer__twits p::before {
	width: 40px;
	height: 30px;
	margin-top: 0;
	left: 3em;
}

.instagram_container {
	padding-bottom: 2em;
}

}

@media only screen and (max-width: 530px) {

nav ul li {
	font-size: .8em;
	}

.quote p:nth-child(1) {
	font-size: 3vw;
}

.quote p:nth-child(2) {
	font-size: 2vw;
}

.contact {
	height: 56em;
}

form {font-size: 3.3vw;}

input[name ="field1"] {
	width: 45.3%;
	margin-right: .5em;
}
	
input[name ="field2"] {
	width: 45.3%;
}
	
	
}

@media only screen and (max-width: 498px) {


.header__h1 h1 {
	font-size: 1.3em;
 }

.header__h2 h2 {
	font-size: 1.6em;
 }

 .header__h3 h3 {
	font-size: 1.4em;
 }

 .footer__twits p::before {
	width: 20px;
	margin-top: -7px;
}

}

@media only screen and (max-width: 472px) {

.latestBlog {
	height: 134em;
}

.latestBlog__blog {
	h3 {
		font-size: 1.5em;
	}
	p {
		font-size: 1.3em;
	}
} 
	
.footer {
	height: 66em;
}

}

@media only screen and (max-width: 440px) {
	
.quote p:nth-child(1) {
	font-size: 3.3vw;
}
	
.quote p:nth-child(2) {
	font-size: 2.2vw;
}
}

@media only screen and (max-width: 406px) {

nav ul li {padding-right: 3px;}

.header__h1 h1 {
	font-size: 1em;
 }
	
.header__h2 h2 {
	font-size: 1.3em;
 }
	
 .header__h3 h3 {
	font-size: 1em;
}

.bestproj__img-name1,
.bestproj__img-name2,
.bestproj__img-name3,
.bestproj__img-name4,
.bestproj__img-name5,
.bestproj__img-name6,
.bestproj__img-name7,
.bestproj__img-name8,
.bestproj__img-name9 {
	top: 55%;
}

.footer__twits p::before {
	width: 20px;
	margin-top: -8px;
}

}

@media only screen and (max-width: 360px) {
	
nav ul li{
	position: relative;
}

.latestBlog {
	height: 112em;
}

.about img {
	width: 50%;
}

.statistics {
	height: 25em;
}


.bestproj__img-name1,
.bestproj__img-name2,
.bestproj__img-name3,
.bestproj__img-name4,
.bestproj__img-name5,
.bestproj__img-name6,
.bestproj__img-name7,
.bestproj__img-name8,
.bestproj__img-name9 {
	width: 100%;
	top: 40%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

.quote {
	height: 8em;
}

.quote p:nth-child(1) {
	font-size: 3vw;
}

.quote p:nth-child(2) {
	font-size: 2vw;
	
}

.latestBlog__blog {
	h3 {
		font-size: 1.2em;
	}
	p {
		font-size: 1em;
	}
} 

.contact {
	height: 45em;
	p {
		font-size: 3.5vw;
	}
}

.contact__contacts {
	margin-left: -3.2em;

}

input[name ="field1"] {
	width: 48.1%;
	margin-right: .5em;
}

input[name ="field2"] {
	width: 48.1%;
}

input[name ="field3"] {
	width: 100%;
}

textarea {
	width: 100%;
}

.footer {
	height: 50em;
}

.footer__socials {
	margin-bottom: -15%;	
}

.footer__twits {
	margin-bottom: -15%;
}

}

@media only screen and (max-width: 320px) {

nav ul li{
	font-size: 1.7vw;
}

.latestBlog {
	height: 113em;
}

.footer {
	height: 46em;
}

.footer__socials {
	margin-bottom: -15%;	
}

.footer__twits {
	margin-bottom: -15%;
}


}
